* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;
}
article {
  flex: 2 1 600px;
  background-color: #1f2937;
  padding: 30px;
  border-radius: 50px;
  border-left: 6px solid #3b82f6;
}
aside {
  flex: 1 1 300px;
  background-color: #1f2937;
  padding: 30px;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

article h2,
aside h2 {
  color: #f97316;
  margin-bottom: 15px;
}

article p {
  margin-bottom: 15px;
}

aside ul {
  list-style: none;
}

aside li {
  background: rgba(255, 255, 255, 0.03);
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}



@media (max-width: 800px) {
  article,
  aside {
    flex: 1 1 100%;
    border-radius: 20px;
  }
}
