* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #121826;
  color: #f3f4f6;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  padding: 20px;
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1100px;
  margin: 0 auto;
}

.card-body{
    background-image: url(Readme_kepek/MI2jd399gC.jpg);
}
.card-body li{
    color: #3b82f6;
}
.card-title{
    color: #f97316;
}



article {
  flex: 2 1 600px;
  background-color: #1f2937;
  padding: 30px;
  border-radius: 50px;
  border-left: 6px solid #3b82f6;
}



article h2{
  color: #f97316;
  margin-bottom: 15px;
}




@media (max-width: 800px) {
  article{
    flex: 1 1 100%;
    border-radius: 20px;
  }
}
