* {
    box-sizing: border-box;
}
main {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
body {
  background-color: #121826;
  color: #f3f4f6;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  padding: 20px;
}
header,
nav,
footer {
  flex: 1 1 100%;
  background-color: #1f2937;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  color: #3b82f6;
}

header h1 {
  color: #3b82f6;
  text-transform: uppercase;
  letter-spacing: 1px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
  
}

nav a {
  color: #f3f4f6;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

nav a:hover {
  color: #f97316;
  background-color: rgba(0, 0, 0, 0.85);
}
footer {
  font-size: 0.85em;
  color: #9ca3af;
}