aside {
  order: 1;
  flex: 0 0 23%;
  background-color: #1f2937;
  padding: 30px;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

article {
  order: 2;
  flex: 0 0 72%;
  background-color: #1f2937;
  padding: 30px;
  border-radius: 50px;
  border-left: 6px solid #3b82f6;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 80px;
}

fieldset {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

label {
  display: block;
  padding: 5px;
  margin-bottom: 8px;
  color: #3b82f6;
}

#adatvedelem {
  color: #3b82f6;
}

ul {
  list-style: none;
}

ul li a {
  color: #3b82f6;
  text-decoration: none;

}

ul li {
  padding: 5px;
}

legend {
  font-size: 30px;
  color: #f97316;
  transition: all 0.3s ease;
}

legend:target {
  background-color: #3b82f6;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  transform: scale(1.05);
}

label[for="adatvedelem"] {
  color: #3b82f6;
  font-weight: bold;
}

label[for="adatvedelem"] a {
  color: #f97316;
  text-decoration: underline;
}


label[for="adatvedelem"] a:hover {
  color: #ffffff;
}

ol {
  color: #f97316;
}

.cim {
  text-decoration: underline;
  color: #3b82f6;
  font-size: 30px;
}

.alcim {
  font-size: 20px;
}

form input[type="submit"] {
  display: flex;
  padding: 10px 30px;
  font-size: 18px;
  border-radius: 10px;
  background-color: #3b82f6;
  color: white;
  border: 1px solid #3b82f6;

}

form input[type="submit"]:hover {
  background-color: #2563eb;
}

@media (max-width: 1200px) and (min-width: 901px) {
  aside {
    flex: 1 1 100%;
    margin: 10px 0;
  }

  article {
    flex: 1 1 100%;
    margin: 10px 0;
    border-left: 4px solid #3b82f6;
  }
}

@media (max-width: 900px) {

  aside,
  article {
    flex: 1 1 100%;
    margin: 10px 0;
  }

  article {
    border-left: none;
    border-top: 6px solid #3b82f6;
    border-radius: 25px;
  }
}