aside {
  order: 1;
  flex: 0 0 25%;

}

article {
  order: 2;
  flex: 0 0 75%;
}
fieldset{
    padding: 15px;
    
}
label{
    font-size: 20px;
    color: cadetblue;
}
legend{
    font-size: 30px;
    color: brown;
}
