body{
    box-sizing: border-box;
}
main {
  display: flex;
  flex-wrap: wrap;
}
aside {
    flex: 0 0 25%; 
    display: flex;
    flex-direction: column;
    gap: 10px;
}

aside div {
    flex: 0 0 auto; 
}

article {
    flex: 1; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article div {
    flex: 0 0 25%; 
}